body {
    font-family: 'helvetica';
    background-color: black;
    max-width: 1400px;
    min-height: : 600px;
}

h1 {
	color: red;
  font-size: 24px;
  padding-top: 30%;
  font-family: 'Lucida Console';
  text-decoration-style: bold;
  display: flex;
  justify-content: center;
}

#Clock {  /*The Clock in the middle of the planet*/
    width: 240px;
    height: 60px;
    margin-top: -12px;
    margin-left: -40px;
    position: absolute;
    top:50%;
    left:50%;
    font-size: 24px;
    color: black;
    font-weight: bold;
  	display: block;
    z-index: 2;
}

#MarsAnimation { /*The animation for Mars*/
  max-width: 16%;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -8%;
  margin-left: -8%;

  animation-name: mars;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  z-index: 1;

  -webkit-animation: myOrbit 10s linear infinite; 
  -moz-animation: myOrbit 10s linear infinite;
  -o-animation: myOrbit 10s linear infinite; 
   animation: myOrbit 10s linear infinite;
}

#TimeOfDay { /*Either the sun or the moon in the middle of the screen.*/
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -15%;
  margin-left: -15%;
	display: block;
	width: 30%;
}

@-webkit-keyframes myOrbit { /*This makes mars go round in a cirle.*/
    from { -webkit-transform: rotate(0deg) translateX(180%) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(180%) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(180%) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(180%) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(180%) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(180%) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(180%) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(180%) rotate(-360deg); }
}



@media only screen and (min-width:560px) and (max-width:800px){
  
h1 {
  padding-top: 10%;
  font-size: 36px;
}


}

@media only screen and (min-width:800px) and (max-width:1400px){
 
#Clock {
    width: 144px;
    height: 36px;
    margin-top: -18px;
    margin-left: -72px;
    font-size: 36px;
}
h1 {
  font-size: 44px;
  padding-top:50px;
}

#TimeOfDay {
  margin-top: -12%;
  margin-left: -12%;
  width: 24%;
}

#MarsAnimation {
  max-width: 10%;
  margin-top: -5%;
  margin-left: -5%;
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}
 
}

@media only screen and (min-width:1400px){

  body {
    min-height: 400px;
    min-width: : 1400px;
}
 
#Clock {
    width: 144px;
    height: 36px;
    margin-top: -18px;
    font-size: 50px;
    left: 67%;
}

#TimeOfDay { /*Either the sun or the moon in the middle of the screen.*/
  width: 20%;
}

h1 {
  padding-left: 5%;
  font-size: 58px;
  padding-top:35%;
  display: block;

}

#TimeOfDay {
  left: 70%;
  margin-top: -12%;
  margin-left: -12%;
  width: 24%;
}

#MarsAnimation {
  left: 70%;
  max-width: 8%;
  margin-top: -4%;
  margin-left: -4%;
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(220%) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(220%) rotate(-360deg); }
}
 
}

